* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100vh;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.arrow {
    width: 120px;
    height: 120px;
}

.arrow-right {
    transform: rotate(180deg);
}

@keyframes show {
    0% {
        opacity: 10%;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        transform: rotateY(180deg);
    }
}

.block {
    display: block;
    animation: show 1.3s 1;
    margin: 0 auto;
}

.pagination-circle {
    width: 25px;
    height: 25px;
    border: 2px solid deepskyblue;
    border-radius: 50%;
}

.active {
    background-color: purple;
}

#bottom {
    display: flex;
    column-gap: 25px;
}

